.containerInformation {
	min-width: 450px;
	max-width: 500px;
	height: 80%;
	text-transform: uppercase;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;

	padding: 10px;

	background-color: #FFF;
	position: relative;
	left: -50px;
	bottom: -50px;
}

.title {
	color: #000;
	font-size: 2rem;
	font-weight: 500;
	
	text-align: right;
}

.paragraph {
	color: #38434F;
	font-size: 1.025rem;

	margin-top: 20px;
	text-align: right;
}