.headerContainer {
	width: 100%;
	height: 100px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, .65);
	position: relative;

	z-index: 1;
}

.headerContent {
	width: 1100px;
	max-width: 1100px;

	height: 80%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menuNav {
	display: flex;
	list-style: none;
}

.menuNavMobile {
	display: none;
	flex-direction: column;

	width: 100%;
	list-style: none;
}

.menuItem:not(:first-child) {
	font-size: .9rem;
	margin-left: 30px;
}

.menuItem:hover {
	transform: scale(1.1);
	transition: transform 1s;
}

.menuLink {
	text-decoration: none;
	font-weight: 600;
	color: #FFF;
}

.logo {
	text-decoration: none;
	font-size: 2.069rem;
	font-weight: 700;
	color: #FFF;
}

.logo:hover {
	color: #903DA7;
	transition: color .8s;
}

.buttonMobile {

}

@media screen and (max-width: 550px) {
	.menuNav {
		flex-direction: column;
		align-items: center;
		row-gap: 25px;
		display: none;
	}

	.menuNavMobile {
		display: flex;
		justify-content: center;

		width: 100%;

		position: absolute;
		top: 101px;

		row-gap: 15px;
/*		padding: 15px;*/

		background-color: rgba(0, 0, 0, .8);

		z-index: 1;
	}

	.menuItem {
		width: 100%;
		text-align: center;

		padding: 15px;
		border-bottom: 1px solid gray;
	}

	.menuLink {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.menuItem:not(:first-child) {
		font-size: .9rem;
		margin-left: 0px;
	}
}