.headerContainer {
	width: 100%;
	height: 100px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, .65);
	position: relative;

	z-index: 1;
}

.headerContent {
	width: 1100px;
	max-width: 1100px;

	height: 80%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menuNav {
	display: flex;
	list-style: none;
}

.menuNavMobile {
	display: none;
	flex-direction: column;

	width: 100%;
	list-style: none;
}

.menuItem:not(:first-child) {
	font-size: .9rem;
	margin-left: 30px;
}

.menuItem:hover {
	transform: scale(1.1);
	transition: transform 1s;
}

.menuLink {
	text-decoration: none;
	font-weight: 600;
	color: #FFF;
}

.logo {
	position: relative;
	text-decoration: none;
	font-size: 2.069rem;
	font-weight: 700;
	color: #FFF;
}

.logo:hover {
	color: #903DA7;
	transition: color .8s;
}

.buttonMobile {
	display: none;
	border-radius: 5px;
}

.separator {
	border-bottom: .8px solid C3C3C3;
}

@media screen and (max-width: 550px) {
	.logo {
		margin-left: 20px;
	}

	.menuNav {
		flex-direction: column;
		align-items: center;
		row-gap: 25px;
		display: none;
	}

	.buttonMobile {
		padding: 5px;
		background-color: rgba(0, 0, 0, .4);
		cursor: pointer;
	}

	.menuNavMobile {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 498px;

		width: 100%;
		height: 1095px;

		position: absolute;

		row-gap: 15px;

		background-color: rgba(0, 0, 0, .95);

		z-index: 1;
	}

	.menuItem {
		width: 100%;
		text-align: center;

		padding: 15px;
		
	}

	.menuLink {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.menuItem:not(:first-child) {
		font-size: .9rem;
		margin-left: 0px;
	}

	.logo {
		position: absolute;
		z-index: 2;
		left: 2%;
		top: 35px;
	}

	.buttonMobile {
		display: inline-block;
		margin-right: 20px;

		position: absolute;
		z-index: 2;
		left: 300px;
		top: 35px;
	}
}